<%- include('../partials/header.ejs')%>
<h3>Welcome, <%=user.firstName%></h3>
<div class = "login-content">    
    <div id="content1">
    <%if(connections.length) {%>
        <p>You have created the following connections</p>
        <div id = "cardContainer">
        <%connections.forEach(connection => {%>
            <div class="card">
            <a href="">
                <img src="/public/images/gamepad.png" alt="">
            </a>
            <a href = "/connections/<%=connection.id%>"><p><%= connection.title%></p></a>
        <%});
    } else {%>
        <p>You have not created any connections</p>
    <%}%>

    <%if(RSVP.length){%>
    <p>You have the following RSVP'd events!</p>
    <%RSVP.forEach(rsvp=>{%>
        <tr>
            <td><%=rsvp.connection%></td>
            <td><%=rsvp.connection%></td><br> 
            <td><%=rsvp.state%></td>
        </tr>
        <%});%>

        <%}else{%>
            <p>You currently have not RSVP'd to any events.</p>
            <%}%>
</div>
    </div>
    <%- include('../partials/footer.ejs')%>